{% extends "base.html" %}

{% block title %}Confirmar Exclusão{% endblock %}

{% block content %}
<div class="container mt-5" style="max-width: 600px;">
    <div class="card shadow">
        <div class="card-body text-center">
            <h3 class="mb-4 text-danger">Tem certeza que deseja excluir seu perfil?</h3>
            
            <p class="text-muted">{{ user.profile.user}}</p>
            {% if user.profile.photo %}
                <img src="{{ user.profile.photo.url }}" alt="Foto de perfil" class="rounded-circle me-3" width="100" height="100">
       
            
            {% endif %}
            
            
            <form method="post" class="mt-4">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">Sim, Excluir</button>
                <a href="{% url 'my-perfil' %}" class="btn btn-secondary ms-2">Cancelar</a>
            </form>
        </div>
    </div>
</div>
{% endblock %}
