{% extends "base.html" %}
{%  load static  %}
{% block title %}Comentários - {{ post.title }}{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2 class="mb-4">{{ post.title }}</h2>
    <p>{{ post.text|truncatewords:50 }}</p>

    <div class="card shadow-sm">
        <div class="card-body">
            <h3 class="card-title mb-4">Comentários</h3>

            {% if object_list %}
                <div class="list-group">
                    {% for comment in object_list %}
                        <div class="list-group-item d-flex">
                            
                            {% if comment.author.profile.photo %}
                                <img src="{{ comment.author.profile.photo.url }}" alt="{{ comment.author.username }}"
                                     class="rounded-circle me-3" width="48" height="48" style="object-fit: cover;">
                            {% else %}
                                <div class="rounded-circle bg-secondary me-3" style="width: 48px; height: 48px;"></div>
                            {% endif %}

                            
                            <div class="flex-grow-1">
                                <p class="mb-1"><strong>{{ comment.author.username }} <img src="{% static 'verified.png' %}" alt="Verificado" width="24"></strong> comentou:</p>
                                <p class="mb-1">{{ comment.comment }}</p>
                                <p class="text-muted small mb-2">Publicado em {{ comment.created_at|date:"d/m/Y H:i" }}</p>
                                {% if comment in user.comment_set.all %}  
                                <div class="d-flex justify-content-end gap-2">
                                    <a href="{% url 'comment-update' comment.pk %}" class="btn btn-sm btn-outline-primary">Editar</a>
                                    <a href="{% url 'comment-delete' comment.pk %}" class="btn btn-sm btn-outline-danger">Deletar</a>
                                </div>
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% else %}
                <p>Este post ainda não tem comentários.</p>
            {% endif %}
        </div>
    </div>

    
    
</div>
{% endblock %}
