{% extends "base.html" %}
{%  load static  %}
{% block title %}Meu Perfil{% endblock %}

{% block content %}

    <h3>Meus Posts</h3>
    <hr>

    {% for post in posts %}
        <div class="card mb-3">
            <a href="{% url 'post-detail' post.pk %}" class="no-link-style">
            <div class="card-body d-flex">
                {% if user.profile.photo %}
                    <img src="{{ user.profile.photo.url }}" alt="Foto do autor" class="rounded-circle me-3" width="60" height="60" style="object-fit: cover;">
                {% else %}
                    <div class="rounded-circle bg-secondary me-3" style="width: 60px; height: 60px;"></div>
                {% endif %}

                <div class="w-100">
                    <h4 class="card-title">{{ post.titulo }}</h4>
                    <p class="card-text">{{ post.text|truncatewords:30 }}</p>
                    
                    {% for image in post.media_dict.imagens %}
                        <img src="{{ image }}" />
                    {% endfor %}
                    {% for video in post.media_dict.videos %}
                        <video src="{{ video }}" controls></video>
                    {% endfor %}
                    <p class="text-muted">Publicado em {{ post.created_at|date:"d/m/Y H:i" }}</p>
            </a>
                    <div class="mt-2 d-flex justify-content-end gap-2">
                        <a href="{% url 'post-edit' post.pk %}" class="btn btn-sm btn-outline-primary">Editar</a>
                        <a href="{% url 'post-delete' post.pk %}" class="btn btn-sm btn-outline-danger">Deletar</a>
                    </div>
                </div>
            </div>
        </div>
    {% empty %}
        <p>Você ainda não publicou nenhum post.</p>
    {% endfor %}

    <h3 class="mt-5">Meus Comentários</h3>
    <hr>

    {% for comment in comments %}
        <div class="list-group-item mb-3 border rounded p-3 d-flex shadow-sm">
            <a href="{% url 'post-detail' comment.post.pk %}" class="no-link-style">
            {% if user.profile.photo %}
                <img src="{{ user.profile.photo.url }}" alt="Foto do autor" class="rounded-circle me-3" width="48" height="48" style="object-fit: cover;">
            {% else %}
                <div class="rounded-circle bg-secondary me-3" style="width: 48px; height: 48px;"></div>
            {% endif %}

            <div class="w-100">
                <p class="mb-1"><strong>Em:</strong> {{ comment.post.text }}</p>
                <p class="mb-1"><strong>Comentario:</strong> {{ comment.comment }}</p>
                <small class="text-muted">Publicado em {{ comment.created_at|date:"d/m/Y H:i" }}</small>
            </a>
                <div class="mt-2 d-flex justify-content-end gap-2">
                    <a href="{% url 'comment-update' comment.pk %}" class="btn btn-sm btn-outline-primary">Editar</a>
                    <a href="{% url 'comment-delete' comment.pk %}" class="btn btn-sm btn-outline-danger">Deletar</a>
                </div>
            </div>
        </div>
    {% empty %}
        <p>Você ainda não fez nenhum comentário.</p>
    {% endfor %}
</div>
{% endblock %}
