{% block title %}Criar Story{% endblock %}

{% block content %}
<div class="card p-4">
  <h3 class="mb-4">Criar novo Story</h3>

  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    
    <!-- Campo de arquivo -->
    <div class="mb-3">
        <label for="id_file" class="form-label">Escolha um arquivo:</label>
        {{ form.document }}
    </div>
    
    <!-- Outros campos (se houver) -->
    {{ form.non_field_errors }}
    
    <button type="submit" class="btn btn-primary">Enviar</button>
</form>
</div>
{% endblock %}